#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.banner {
  background: linear-gradient(to right, #00bfae, #8000ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px rgba(0, 191, 174, 0.5);
  line-height: normal;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

.terminal-welcome-message {
  font-family: 'DejaVu Sans Mono', 'Ubuntu Mono', 'Liberation Mono', monospace;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  line-height: 2.5;
  white-space: pre-wrap;
  margin: 1rem 0;
}

.terminal-prompt {
  font-family: 'DejaVu Sans Mono', 'Ubuntu Mono', 'Liberation Mono', monospace;
  color: #4AF626;
  font-size: 16px;
}

.terminal-input {
  display: flex;
  align-items: center;
}